:root {
    /* Common */
    --bg-color-light: #FFFFFF;
    --text-color-light: #303030;

    --success: #A1FFA1;
    --success-light: #C3FFC3;
    --success-on-light-bg: #006400;
    --paranoid: #ADD8E6;

    /* Navbar */
    --shadow-color-dark: #31313190;
    --nav-bg-color: #313131;
    --nav-text-color: #FFFFFF;
    --nav-btn-color: #AAAAAA;

    /* Left pane */
    --shadow-color-light: #31313190;

    /* Button and active list item */
    --bg-selected-light: #EAEAEA;
    /* List item and left pane */
    --separator-light: #EBEBEB;
    /* Input fields border */
    --separator-normal: #A4A4A4;
}

body {
    color: var(--text-color-light);
    font-size: 13px;
    overflow-x: hidden;
}

/* Bootstrap overrides */

.popover {
    border-radius: 2px;
}

.btn {
    background-color: #186558;
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
    
}

.btn-text {
    min-width: 6.0px;
}

.btn:hover {
    background-color: #388578;
    color: #FFFFFF;
    border: 1px solid #388578;
    border-radius: 2px;
}

.form-control {
    border: 1px solid var(--separator-normal);
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    height: 29px;
}

.list-item {
    border: 0px;
    border-bottom: 1px solid var(--separator-light);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.list-item-dialog {
    border: 0px;
    border-bottom: 1px solid var(--separator-light);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
    padding-right: 4px;
}

.list-item.active {
    background-color: var(--bg-selected-light);
}

.list-item-name {
    padding-top: 2px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;
}

.list-group-item {
    border-color: var(--separator-normal);
    padding: 4px;
}

.list-group-item+.list-group-item {
    border-top-width: 1px;
    margin-top: -1px;
}

.modal {
    z-index: 10500;
}

.modal-body {
    padding: 8px;
}

.modal-footer {
    padding: 4px;
    border-top: 0px;
}

.popover {
    font-size: 11px;
    z-index: 100000;
}

.popover-header {
    padding: 8px;
}

.popover-body {
    padding: 8px;
}

.popover-footer {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

/* General */

.marge-top-small {
    margin-top: 4px;
}

.marge-right-small {
    margin-right: 4px;
}

.pad-top-small {
    padding-top: 4px;
}

.pad-top-medium {
    padding-top: 8px;
}

.marge-bottom {
    margin-bottom: 4px;
}

.flex-container {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-center {
    align-items: center;
}

.flex-grow {
    flex: 1 0 auto;
}

/* General */

.error {
    background-color: #ffa500;
    border: 1px solid transparent;
    border-color: #000000;
    border-radius: 2px;
    padding: 4px;
    text-align: center;
}

.error-visible { /* Temaplate */
    background-color: #ffa500;
    border: 1px solid transparent;
    border-color: #000000;
    border-radius: 2px;
    padding: 4px;
    text-align: center;
}

.success {
    display: none;
    background-color: var(--success);
    border: 1px solid transparent;
    border-color: #000000;
    border-radius: 2px;
    padding: 4px;
    text-align: center;
}

.notification { transition: opacity 1s; }
.notification.hidden { opacity: 0; }

.notification {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 4px;
    max-width: 400px;
    z-index: 10600;
    padding: 8px;
    border-radius: 2px;
    background-color: var(--success);
}

/* Structure */

.left {
    position: absolute;
    overflow: auto;
    left: 0px;
    width: 280px;
    top: 0px;
    bottom: 0px;
    padding-top: 8px;
    background: var(--bg-color-light);
    border-right: 1px solid var(--separator-light);
    box-shadow: 0 0 4px 0 var(--shadow-color-light);
}

.leftInner {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.right {
    position: absolute;
    overflow: auto;
    right: 0px;
    left: 296px;
    top: 50px;
    bottom: 58px;
    padding-top: 8px;
    background: var(--bg-color-light);
}

.rightInner {
    padding-right:4px;
}

.bottom {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 296px;
    background: var(--bg-color-light);
}

.bottomInner {
    position: relative;
    height: 100%;
    padding-right: 4px;
}

.video-settings {
    position: absolute;
    right: 0px;
    z-index: 9000;
    padding: 4px;
    background: var(--nav-bg-color);
    color: var(--nav-text-color);
    box-shadow: 0 1px 4px 0 var(--shadow-color-dark);
    opacity: 0.5;
}

/* Styles go here */

.rotate {
    transform: rotate(0deg);
    transition: transform 0.25s linear;
}

.reverse {
    transform: rotate(180deg);
    transition: transform 0.25s linear;
}

.canvasMain { 
    position: relative;
    width: 100%;
    height: 100%;
}

.videoMain {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.rotate180 {
    transform: rotate(180deg);
}

.right-video {
    position: absolute;
    overflow: auto;
    right: 0px;
    left: 296px;
    top: 50px;
    bottom: 40px;
}

.right-video-howto {
    position: absolute;
    overflow: auto;
    right: 16px;
    left: 296px;
    top: 50px;
    bottom: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cntVideoState {
    color: #aaaaaa;
}

.listItemActionOne {
    position: absolute;
    right: 8px;
    font-size: 16px;
}

.listItemActionTwo {
    position: absolute;
    right: 44px;
    font-size: 16px;
}